.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Nunito Sans', sans-serif;
}

.cart-container h2 {
  text-align: center;
  font-size: 34px;
  color: #184C8B;
  margin: 20px 0;
}

.cart-list {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.cart-item {
  background-color: white;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  min-width: 160px;
  min-height: 100px;
}

.cart-item p {
  margin: 5px 0;
  color: #555;
}

.cart-item strong {
  color: #184C8B;
}

.cart-total {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: right;
  width: 300px;
  transform: translate(-60%,130%);
}

.cart-total {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: right;
  width: 300px;
  margin: 0 auto; /* Centra horizontalmente */
}

.confirm-button {
  background-color: #facc15;
  color: #1e3a8a;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 70px;
  cursor: pointer;
}

.back-button {
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
  position: absolute;
  left: 20px;
  top: 20px;
}