html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;            /* Ocupar toda la altura de la pantalla */
  width: 100vw;             /* Ocupar todo el ancho */
  overflow: hidden;
}

.forgot-card {
  background: linear-gradient(to bottom, #184C8B, #091355);
  padding: 2rem;
  border-radius: 20px;
  width: 425px;
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-card input {
  font-family: 'Nunito Sans', sans-serif;
  width: 70%;
  padding: 10px;
  border-radius: 10rem;
  border: none;
  margin-bottom: 1rem;
}

.forgot-card button {
  font-family: 'Nunito Sans', sans-serif;
  width: 70%;
  padding: 10px;
  background-color: #facc15;
  color: #1e3a8a;
  border: none;
  border-radius: 10rem;
  font-weight: bold;
  cursor: pointer;
}

.forgot-card button:hover  {
    background-color: #cba717;
}